<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>vivek social</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="./styles.css" /> -->
</head>

<body>
    <nav>
        <div class="container">
            <a href="/"><h2 class="logo" >social media</h2></a>

            <!-- <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" placeholder="Search for creators, inspirations and projects" />
            </div> -->
            <div class="create">
                <!-- <label class="btn btn-primary" for="create-post">Create</label> -->
                <div class="profile-pic">
                   <a href="/profilepage"> <img id="myUser" src="images/profile-8.jpg" alt="pic 1" /></a>
                </div>
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="left">
                <!-- <a class="profile">
                    <div class="profile-pic">
                        <img id="myUser" src="./images/profile-8.jpg">
                    </div>
                    <div class="handle">
                        <h4 id="Username">Chirag</h4>
                        <p class="text-muted">@ <span id="Username">vivek</span> </p>
                    </div>
                </a>
                <div class="sidebar">
                    <a class="menu-item active">
                        <span><i class="uil uil-home"></i></span>
                        <h3>Home</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-compass"></i></span>
                        <h3>Explore</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><i class="uil uil-bell"><small class="notification-count">9+</small></i></span>
                        <h3>Notifications</h3>
                        <div class="notifications-popup">
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-10.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Abigail Willey</b> accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-11.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Varun Nair</b> commented on your post
                                    <small class="text-muted">1 HOUR AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-12.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Marry Opmong</b> and 210 other liked your post
                                    <small class="text-muted">4 MINUTES AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-13.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Wilson Fisk</b> started following you
                                    <small class="text-muted"> 11 HOURS AGO</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="menu-item" id="messages-notifications">
                        <i class="uil uil-envelope"><small class="notification-count">6</small></i></span>
                        <h3>Messages</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-bookmark"></i></span>
                        <h3>Bookmarks</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-analytics"></i></span>
                        <h3>Analytics</h3>
                    </a>
                    <a href="/profile" class="menu-item ">
                        <span><i class="uil uil-palette"></i></span>
                        <h3>profile</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-setting"></i></span>
                        <h3>Settings</h3>
                    </a>

                </div> -->
                <a href="/createpost" class="btn btn-primary" for="create-post">Create Post</a>
            </div>



            <div class="middle">
                <!-- <div class="stories">
                    <div class="story">
                        <div class="profile-pic">
                            <img id="myUser" src="./images/profile-8.jpg" alt="">
                        </div>
                        <p class="name">Your Story</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="./images/profile-9.jpg" alt="">
                        </div>
                        <p class="name">Lilla James</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="./images/profile-2.jpg" alt="">
                        </div>
                        <p class="name">Jasmine Singh</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="./images/profile-3.jpg" alt="">
                        </div>
                        <p class="name">Celina Fernandes</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="./images/profile-4.jpg" alt="">
                        </div>
                        <p class="name">Mia Addams</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="./images/profile-5.jpg" alt="">
                        </div>
                        <p class="name">Christy Kahea</p>
                    </div>
                </div> -->

                <!-- <form class="create-post">
                    <div class="profile-pic">
                        <img id="myUser" src="images/profile-8.jpg" alt="">
                    </div>
                    <input type="text" placeholder="What's on your mind Chirag?" id="create-post">
                    <input type="submit" value="Post" class="btn btn-primary">
                </form> -->
                <div class="feeds" id="feeds">
                    <!-- <div class="feed">
                        <div class="head">

                        </div>
                        <div class="user">
                            <div class="profile-pic">
                                <img src="images/profile-14.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Lana Rose</h3>
                                <small>Dubai, 15 MINUTES AGO</small>
                            </div>
                            <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                        </div>

                        <div class="photo">
                            <img src="images/feed-1.jpg" alt="">
                        </div>

                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="uil uil-thumbs-up"></i></span>
                                <span><i class="uil uil-comment"></i></span>
                                <span><i class="uil uil-share"></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil uil-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="images/profile-15.jpg"></span>
                            <span><img src="images/profile-16.jpg"></span>
                            <span><img src="images/profile-17.jpg"></span>
                            ,<p>Liked by <b>Enrest Achiever</b>snd <b>220 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Lana Rose</b>Lorem ipsum dolor storiesquiquam eius.
                                <span class="hash-tag">#lifestyle</span>
                            </p>
                        </div>
                        <div class="comments text-muted">View all 130 comments</div>
                    </div>

                   

                    <div class="feed">
                        <div class="head">

                        </div>
                        <div class="user">
                            <div class="profile-pic">
                                <img src="images/profile-16.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>John Samron</h3>
                                <small>Amsterdam, 7 HOURS AGO</small>
                            </div>
                            <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                        </div>

                        <div class="photo">
                            <img src="images/feed-3.jpg" alt="">
                        </div>

                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="uil uil-thumbs-up"></i></span>
                                <span><i class="uil uil-comment"></i></span>
                                <span><i class="uil uil-share"></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil uil-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="images/profile-3.jpg"></span>
                            <span><img src="images/profile-5.jpg"></span>
                            <span><img src="images/profile-7.jpg"></span>
                            ,<p>Liked by <b>Enrest Achiever</b>snd <b>130 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>John Samron</b>Lorem ipsum dolor storiesquiquam eius.
                                <span class="hash-tag">#lifestyle</span>
                            </p>
                        </div>
                        <div class="comments text-muted">View all 15 comments</div>
                    </div>

                    <div class="feed">
                        <div class="head">

                        </div>
                        <div class="user">
                            <div class="profile-pic">
                                <img src="images/profile-17.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Kareena Joshua</h3>
                                <small>USA, 3 HOURS AGO</small>
                            </div>
                            <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                        </div>

                        <div class="photo">
                            <img src="images/feed-4.jpg" alt="">
                        </div>

                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="uil uil-thumbs-up"></i></span>
                                <span><i class="uil uil-comment"></i></span>
                                <span><i class="uil uil-share"></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil uil-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="images/profile-8.jpg"></span>
                            <span><img src="images/profile-10.jpg"></span>
                            <span><img src="images/profile-12.jpg"></span>
                            ,<p>Liked by <b>Enrest Achiever</b>snd <b>280 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Kareena Joshua</b>Lorem ipsum dolor storiesquiquam eius.
                                <span class="hash-tag">#lifestyle</span>
                            </p>
                        </div>
                        <div class="comments text-muted">View all 110 comments</div>
                    </div>

                    <div class="feed">
                        <div class="head">

                        </div>
                        <div class="user">
                            <div class="profile-pic">
                                <img src="images/profile-18.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Dan Smith</h3>
                                <small>Paris, 1 DAY AGO</small>
                            </div>
                            <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                        </div>

                        <div class="photo">
                            <img src="images/feed-5.jpg" alt="">
                        </div>

                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="uil uil-thumbs-up"></i></span>
                                <span><i class="uil uil-comment"></i></span>
                                <span><i class="uil uil-share"></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil uil-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="images/profile-9.jpg"></span>
                            <span><img src="images/profile-11.jpg"></span>
                            <span><img src="images/profile-13.jpg"></span>
                            ,<p>Liked by <b>Enrest Achiever</b>snd <b>420 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Dan Smith</b>Lorem ipsum dolor storiesquiquam eius.
                                <span class="hash-tag">#lifestyle</span>
                            </p>
                        </div>
                        <div class="comments text-muted">View all 120 comments</div>
                    </div>

                    <div class="feed">
                        <div class="head">

                        </div>
                        <div class="user">
                            <div class="profile-pic">
                                <img src="images/profile-19.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Karim Benzema</h3>
                                <small>Mumbai, 30 MINUTES AGO</small>
                            </div>
                            <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                        </div>

                        <div class="photo">
                            <img src="images/feed-6.jpg" alt="">
                        </div>

                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="uil uil-thumbs-up"></i></span>
                                <span><i class="uil uil-comment"></i></span>
                                <span><i class="uil uil-share"></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil uil-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="images/profile-15.jpg"></span>
                            <span><img src="images/profile-14.jpg"></span>
                            <span><img src="images/profile-17.jpg"></span>
                            ,<p>Liked by <b>Enrest Achiever</b>snd <b>150 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Karim Benzema</b>Lorem ipsum dolor storiesquiquam eius.
                                <span class="hash-tag">#lifestyle</span>
                            </p>
                        </div>
                        <div class="comments text-muted">View all 30 comments</div>
                    </div>
                    <div class="feed">
                        <div class="head">

                        </div>
                        <div class="user">
                            <div class="profile-pic">
                                <img src="images/profile-20.jpg" alt="">
                            </div>
                            <div class="info">
                                <h3>Srishti Tirkey</h3>
                                <small>Bangalore, 11 HOURS AGO</small>
                            </div>
                            <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                        </div>

                        <div class="photo">
                            <img src="images/feed-7.jpg" alt="">
                        </div>

                        <div class="action-button">
                            <div class="interaction-button">
                                <span><i class="uil uil-thumbs-up"></i></span>
                                <span><i class="uil uil-comment"></i></span>
                                <span><i class="uil uil-share"></i></span>
                            </div>
                            <div class="bookmark">
                                <span><i class="uil uil-bookmark"></i></span>
                            </div>
                        </div>

                        <div class="liked-by">
                            <span><img src="images/profile-15.jpg"></span>
                            <span><img src="images/profile-13.jpg"></span>
                            <span><img src="images/profile-10.jpg"></span>
                            ,<p>Liked by <b>Enrest Achiever</b>snd <b>530 others</b></p>
                        </div>

                        <div class="caption">
                            <p><b>Srishti Tirkey</b>Lorem ipsum dolor storiesquiquam eius.
                                <span class="hash-tag">#lifestyle</span>
                            </p>
                        </div>
                        <div class="comments text-muted">View all 190 comments</div>
                    </div> -->
                </div>
            </div>

            <div class="right">
                <!-- <div class="messages">
                    <div class="heading">
                        <h4>Messages</h4>
                        <span><i class="uil uil-edit"></i></span>
                    </div>

                    <div class="search-bar">
                        <span><i class="uil uil-search"></i></span>
                        <input type="search" placeholder="Search Messages" id="message-search">
                    </div>

                    <div class="category">
                        <h6 class="active">Primary</h6>
                        <h6>General</h6>
                        <h6 class="message-requests">Requests(7)</h6>
                    </div>
                    <div class="message">
                        <div class="profile-pic">
                            <img src="images/profile-17.jpg">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Kareena Joshua</h5>
                            <p class="text-muted">Just woke up bruh..</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-pic">
                            <img src="images/profile-18.jpg">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Dan Smith</h5>
                            <p class="text-bold">2 New Messages</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-pic">
                            <img src="images/profile-15.jpg">
                        </div>
                        <div class="message-body">
                            <h5>Chris Brown</h5>
                            <p class="text-muted">Lol u right</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-pic">
                            <img src="images/profile-14.jpg">
                        </div>
                        <div class="message-body">
                            <h5>Lana Rose</h5>
                            <p class="text-bold">Birthday tomorrow!!</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-pic">
                            <img src="images/profile-11.jpg">
                        </div>
                        <div class="message-body">
                            <h5>Varun Nair</h5>
                            <p class="text-muted">Ssup?</p>
                        </div>
                    </div>
                    <div class="message">
                        <div class="profile-pic">
                            <img src="images/profile-1.jpg">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Jahnvi Doifode</h5>
                            <p class="text-bold">3 New Messages</p>
                        </div>
                    </div>
                </div> -->
                <h4>You Are following</h4>
                <div class="friend-requests" id="following">
                    
                    <div class="request">
                        <div class="info">
                            <div class="profile-pic">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="okkk">
                                <h5>Wilson Fisk</h5>
                                <!-- <p class="text-muted">8 mutual friends</p> -->

                            </div>
                            <div class="action">
                                <button class="btn btn-primary">unfollow</button>
                                <!-- <button class="btn">Decline</button> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-pic">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="okkk">
                                <h5>Wilson Fisk</h5>
                                <!-- <p class="text-muted">8 mutual friends</p> -->

                            </div>
                            <div class="action">
                                <button class="btn btn-primary">unfollow</button>
                                <!-- <button class="btn">Decline</button> -->
                            </div>
                        </div>
                        
                    </div>
                   

                </div>
                <h4>Your suggestion</h4>
                <div class="friend-requests" id="suggestion">
                    <div class="request">
                        <div class="info">
                            <div class="profile-pic">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="okkk">
                                <h5>Wilson Fisk</h5>
                                <!-- <p class="text-muted">8 mutual friends</p> -->

                            </div>
                            <div class="action">
                                <button class="btn btn-primary">unfollow</button>
                                <!-- <button class="btn">Decline</button> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="request" >
                        <div class="info">
                            <div class="profile-pic">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="okkk">
                                <h5>Wilson Fisk</h5>
                                <!-- <p class="text-muted">8 mutual friends</p> -->

                            </div>
                            <div class="action">
                                <button class="btn btn-primary">unfollow</button>
                                <!-- <button class="btn">Decline</button> -->
                            </div>
                        </div>
                        
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-pic">
                                <img src="images/profile-13.jpg">
                            </div>
                            <div class="okkk">
                                <h5>Wilson Fisk</h5>
                                <!-- <p class="text-muted">8 mutual friends</p> -->

                            </div>
                            <div class="action">
                                <button class="btn btn-primary">unfollow</button>
                                <!-- <button class="btn">Decline</button> -->
                            </div>
                        </div>
                        
                    </div>
                   

                </div>



            </div>
        </div>
    </main>
    <script>
        async function myUser() {
            let req = await fetch("http://localhost:9090/myUser")
            let res = await req.json()
            // console.log(res);
            let usering = document.querySelectorAll("#myUser")
            usering[0].src = res.img
            usering[1].src = res.img
            // usering[2].src = res.img
            // usering[3].src = res.img
            let USERNAME = document.querySelectorAll("#Username")
            USERNAME[0].innerText = res.username
            USERNAME[1].innerText = res.username
        }
        myUser()
        async function allpost() {
            let req = await fetch("http://localhost:9090/allpost")
            let res = await req.json()
            // console.log(res);
            let temp = ``;
            for (let i = 0; i < res.length; i++) {
                console.log(res[i].like.length);
                temp += `<div class="feed">
                    <div class="head">

                    </div>
                    <div class="user">
                        <div class="profile-pic">
                            <img src="${res[i].userimg}" alt="">
                        </div>
                        <div class="info">
                            <h3>${res[i].username}</h3>
                            <small>${res[i].caption}</small>
                        </div>
                        <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                    </div>

                    <div class="photo">
                        <img src="${res[i].img}" alt="">
                    </div>

                    <div class="action-button">
                        <div class="interaction-button">
                            <span><i onclick="LikeButton('${res[i]._id}',this)" class="uil uil-thumbs-up"></i></span>
                            <span><i class="uil uil-comment"></i></span>
                            <span><i class="uil uil-share"></i></span>
                        </div>
                        <div class="bookmark">
                            <span><i class="uil uil-bookmark"></i></span>
                        </div>
                    </div>

                    <div class="liked-by">
                          <p>${res[i].like.length} likes</p>
                    </div>
                    <p id="comentusername${i}"></p>

                    <div class="addComments">
                            <div class="reaction">
                                <h3>
                                  <i class="far fa-smile"></i>
                                </h3>
                            </div>
                            <input type="text"
                                   class="text"
                                   id="comnentno${i}"
                                   placeholder="Add a comment...">
                                   <button onclick="addComment('${res[i]._id}',${i})">Post</button>
                        </div>
                </div>`

            }
            // document.getElementById("LikeButton").addEventListener("click", () => LikeButton(res))

            document.getElementById('feeds').innerHTML = temp;
        }
        allpost()
        async function LikeButton(data,x) {
            // data.preventDefault();
            // x.classList.toggle("likeanddislike")
            console.log(data);
            await fetch("http://localhost:9090/like", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ data: data }),
            })
                .then((response) => response.json())
                .then((response => console.log(response)))
                allpost()
        }
        async function addComment(postid, no) {
            let comnentvalue = document.getElementById("comnentno" + no).value
             document.getElementById("comnentno" + no).value =""
            console.log(postid, comnentvalue);
            await fetch(`http://localhost:9090/comments/${postid}`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                     comnentvalue: comnentvalue
                }),
            })
                .then((response) => response.json())
                .then((response => {
                    let newadd = ""
                    for (let i = 0; i < response.length; i++) {
                    
                        newadd +=`<p ><span>${response[i].username}</span> <span>${response[i].comment}</span> </p>`
                       
                    }
                    document.getElementById('comentusername'+no).innerHTML = newadd
                }))
        }
       
        async function alluser() {
          let res = await fetch(`http://localhost:9090/userfind`)
            let req = await res.json()
            let Html = ""
            for (let i = 0; i < req.length; i++) {
            //    console.log(req[i]); 

                Html += `<div class="request">
                        <div class="info">
                            <div class="profile-pic">
                                <img src="${req[i].img}">
                            </div>
                            <div class="okkk">
                                <h5>${req[i].username}</h5>
                                <!-- <p class="text-muted">8 mutual friends</p> -->

                            </div>
                            <div class="action">
                                <button class="btn btn-primary " id="followbtn${i}" onclick="FollowUnfollow('${req[i]._id}','${i}')">follow</button>
                                <!-- <button class="btn">Decline</button> -->
                            </div>
                        </div>
                        
                    </div>` 
            }
            document.getElementById("suggestion").innerHTML = Html
        }
        alluser()
        async function FollowUnfollow(data ,id) {
            document.getElementById("followbtn"+id).innerText ="unfollow"
            console.log(id);
            await fetch(`http://localhost:9090/followunfollow` ,{
                method:"POST",
                headers: {"content-type": "application/json" },
                body:JSON.stringify({
                    data:data
                })
            })
            .then((response) => response.json())
            .then((response => console.log(response)));
            myfollow()
        }
        myfollow()
        async function myfollow() {
            let res = await fetch(`http://localhost:9090/myfollow`)
            .then((response) => response.json())
            .then((response => {
                let ele = ""
                for (let i = 0; i < response.length; i++) {
                    console.log(response[i]); 
                    ele += `<div class="request" >
                        <div class="info">
                            <div class="profile-pic">
                                <img src="${response[i].img}">
                            </div>
                            <div class="okkk">
                                <h5>${response[i].username}</h5>
                                <!-- <p class="text-muted">8 mutual friends</p> -->

                            </div>
                            <div class="action">
                                <button class="btn btn-primary">unfollow</button>
                                <!-- <button class="btn">Decline</button> -->
                            </div>
                        </div>
                        
                    </div>`
                }
                document.getElementById("following").innerHTML = ele
                // console.log(response)
            }));
            // let req = await res.json()
            // console.log("myfollow"+req);
        }
        //Prectice
        // window.document.body.style.cursor = "wait";   
        // setInterval(lodafun, 1000);
        // setTimeout(lodaun, 2000);
        // function lodafun() {
        //     console.log("1");
        // }
        // function lodaun() {
        //     console.log("2");
        // }
        // let a =3
        // let b =5
        // a = a + b; //a = 8 b = 5
        // b = a - b;//b = 3 a= 8
        // a = a - b;//a = 5
        // console.log(a);
        // console.log(b);
//         function display()  
// {  
// var x=102;//integer value    
// var y=102.7;//floating point value    
// var z=13e4;//exponent value, output: 130000    
// var n=new Number(16);//integer value by number object    
// console.log(x+" "+y+" "+z+" "+n);    
// }     
// display();  
// let rows = 6; 
// let char = "";

// // External loop
// for (let i = 1; i <= 6; i++) {
//   // Internal loop
//   for (let j = 1; j <= i; j++) {
//     if (i === 3) {
//         continue;
//     }
//     char += j;
//   }
//   if (i === 3) {
//         continue;
//     }
//   char += "\n";
// }
// console.log(char);
// console.log(50 + "\n" + 11);






// let loop =""

// for (let i = 1; i < 6; i++) {
//     for (let j = 1; j <= i; j++) {
//         loop += j
//     }
//     loop +=  "\n";
    
// }
// console.log(loop);
// let rows = 6; 
// let char = "";

// External loop
// for (let i = 1; i <= rows; i++) {
//   // Internal loop
//   for (let j = 1; j <= 6-i+1; j++) {
//     if (i === 3) {
//         continue;
//     }
//     char += j;
//   }
//   char += "\n";
// }
// console.log(char);

    </script>
    <script>
        //sidebar
        const menuItems = document.querySelectorAll('.menu-item');
        const messagesNotification = document.querySelector('#messages-notifications');
        const messages = document.querySelector('.messages');
        const message = messages.querySelectorAll('.message');
        const messageSearch = document.querySelector('#message-search');

        //remove active class from all menu items
        const changeActiveItem = () => {
            menuItems.forEach(item => {
                item.classList.remove('active');
            })
        }


        menuItems.forEach(item => {
            item.addEventListener('click', () => {
                changeActiveItem();
                item.classList.add('active');

                if (item.id != 'notifications') {
                    document.querySelector('.notifications-popup').style.display = 'none';
                } else {
                    document.querySelector('.notifications-popup').style.display = 'block';
                    document.querySelector('#notifications .notification-count').style.display = 'none';
                }
            })
        })


        const searchMessage = () => {
            const val = messageSearch.value.toLowerCase();
            message.forEach(chat => {
                let name = chat.querySelector('h5').textContent.toLowerCase();
                if (name.indexOf(val) != -1) {
                    chat.style.display = 'flex';
                } else {
                    chat.style.display = 'none';
                }
            })
        }

        messageSearch.addEventListener('keyup', searchMessage);


        messagesNotification.addEventListener('click', () => {
            messages.style.boxShadow = '0 0 1rem var(--color-primary)';
            messagesNotification.querySelector('.notification-count').style.display = 'none';
            setTimeout(() => {
                messages.style.boxShadow = 'none';
            }, 2000);
        })
    </script>
</body>

</html>