<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" enctype="multipart/form-data" method="post">
        <input type="file" name="img">
        <input type="text" name="caption" placeholder="caption">
        <input type="submit">
    </form>
    <!-- <img src="userpost\1688033923589WhatsApp Image 2023-06-17 at 4.57.38 PM.jpeg" alt=""> -->
</body>
</html>