<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css" />
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <style>
        /* :root {
            font-size: 10px;
        } */
        .containers:root {
            font-size: 10px !important;
        }

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        body {
            font-family: "Open Sans", Arial, sans-serif;
            min-height: 100vh;
            background-color: #fafafa;
            color: #262626;
            padding-bottom: 3rem;
        }

        img {
            display: block;
        }

        .containers {
            max-width: 93.5rem;
            margin: 0 auto;
            padding: 0 2rem;
        }

         .btns {
            display: inline-block;
            font: inherit;
            background: none;
            border: none;
            color: inherit;
            padding: 0;
            cursor: pointer;
        }

        .btns:focus {
            outline: 0.5rem auto #4d90fe;
        }

        .visually-hidden {
            position: absolute !important;
            height: 1px;
            width: 1px;
            overflow: hidden;
            clip: rect(1px, 1px, 1px, 1px);
        }

        /* profiles Section */

        .profiles {
            padding: 5rem 0;
        }

        .profiles::after {
            content: "";
            display: block;
            clear: both;
        }

        .profiles-image {
            float: left;
            width: calc(33.333% - 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 3rem;
        }

        .profiles-image img {
            border-radius: 50%;
            width: 80%;
        }

        .profiles-user-settings,
        .profiles-stats,
        .profiles-bio {
            float: left;
            width: calc(66.666% - 2rem);
        }

        .profiles-user-settings {
            margin-top: 1.1rem;
        }

        .profiles-user-name {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 300;
        }

        .profiles-edit-btn {
            font-size: 1rem;
            line-height: 1.8;
            border: 0.1rem solid #dbdbdb;
            border-radius: 0.3rem;
            padding: 0 2.4rem;
            margin-left: 2rem;
        }

        .profiles-settings-btn {
            font-size: 1rem;
            margin-left: 1rem;
        }

        .profiles-stats {
            margin-top: 2.3rem;
        }

        .profiles-stats li {
            display: inline-block;
            font-size: 1.4rem;
            line-height: 1.5;
            margin-right: 4rem;
            cursor: pointer;
        }

        .profiles-stats li:last-of-type {
            margin-right: 0;
        }

        .profiles-bio {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 2.3rem;
        }

        .profiles-real-name,
        .profiles-stat-count,
        .profiles-edit-btn {
            font-weight: 600;
        }

        /* Gallery Section */

        .gallery {
            display: flex;
            flex-wrap: wrap;
            margin: -1rem -1rem;
            padding-bottom: 3rem;
        }

        .gallery-item {
            position: relative;
            flex: 1 0 22rem;
            margin: 1rem;
            color: #fff;
            cursor: pointer;
        }

        .gallery-item:hover .gallery-item-info,
        .gallery-item:focus .gallery-item-info {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .gallery-item-info {
            display: none;
        }

        .gallery-item-info li {
            display: inline-block;
            font-size: 1.7rem;
            font-weight: 600;
        }

        .gallery-item-likes {
            margin-right: 2.2rem;
        }

        .gallery-item-type {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2.5rem;
            text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
        }

        .fa-clone,
        .fa-comment {
            transform: rotateY(180deg);
        }

        .gallery-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* Loader */

        .loader {
            width: 5rem;
            height: 5rem;
            border: 0.6rem solid #999;
            border-bottom-color: transparent;
            border-radius: 50%;
            margin: 0 auto;
            animation: loader 500ms linear infinite;
        }

        /* Media Query */

        @media screen and (max-width: 40rem) {
            .profiles {
                display: flex;
                flex-wrap: wrap;
                padding: 4rem 0;
            }

            .profiles::after {
                display: none;
            }

            .profiles-image,
            .profiles-user-settings,
            .profiles-bio,
            .profiles-stats {
                float: none;
                width: auto;
            }

            .profiles-image img {
                width: 7.7rem;
            }

            .profiles-user-settings {
                flex-basis: calc(100% - 10.7rem);
                display: flex;
                flex-wrap: wrap;
                margin-top: 1rem;
            }

            .profiles-user-name {
                font-size: 2.2rem;
            }

            .profiles-edit-btn {
                order: 1;
                padding: 0;
                text-align: center;
                margin-top: 1rem;
            }

            .profiles-edit-btn {
                margin-left: 0;
            }

            .profiles-bio {
                font-size: 1.4rem;
                margin-top: 1.5rem;
            }

            .profiles-edit-btn,
            .profiles-bio,
            .profiles-stats {
                flex-basis: 100%;
            }

            .profiles-stats {
                order: 1;
                margin-top: 1.5rem;
            }

            .profiles-stats ul {
                display: flex;
                text-align: center;
                padding: 1.2rem 0;
                border-top: 0.1rem solid #dadada;
                border-bottom: 0.1rem solid #dadada;
            }

            .profiles-stats li {
                font-size: 1.4rem;
                flex: 1;
                margin: 0;
            }

            .profiles-stat-count {
                display: block;
            }
        }

        /* Spinner Animation */

        @keyframes loader {
            to {
                transform: rotate(360deg);
            }
        }


        @supports (display: grid) {
            .profiles {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: repeat(3, auto);
                grid-column-gap: 3rem;
                align-items: center;
            }

            .profiles-image {
                grid-row: 1 / -1;
            }

            .gallery {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
                grid-gap: 2rem;
            }

            .profiles-image,
            .profiles-user-settings,
            .profiles-stats,
            .profiles-bio,
            .gallery-item,
            .gallery {
                width: auto;
                margin: 0;
            }

            @media (max-width: 40rem) {
                .profiles {
                    grid-template-columns: auto 1fr;
                    grid-row-gap: 1.5rem;
                }

                .profiles-image {
                    grid-row: 1 / 2;
                }

                .profiles-user-settings {
                    display: grid;
                    grid-template-columns: auto 1fr;
                    grid-gap: 1rem;
                }

                .profiles-edit-btn,
                .profiles-stats,
                .profiles-bio {
                    grid-column: 1 / -1;
                }

                .profiles-user-settings,
                .profiles-edit-btn,
                .profiles-settings-btn,
                .profiles-bio,
                .profiles-stats {
                    margin: 0;
                }
            }

            [data-tab-content] {
                display: none;
            }

            .active[data-tab-content] {
                display: block;
            }

            body {
                padding: 0;
                margin: 0;
            }

            .tabs {
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                margin: 0;
                padding: 0;
                border-bottom: 1px solid black;
                margin-bottom: 15px;
            }

            .tab {
                cursor: pointer;
                padding: 10px;
                font-size: 30px;
            }

            .tab.active {
                background-color: #CCC;
            }

            .tab:hover {
                background-color: #AAA;
            }

            .tab-content {
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        main .container {
            display: grid;
            grid-template-columns: 18vw auto;
            gap: 2rem;
            position: relative;
        }
    </style>
    <header>

        <div class="containers">


            <!-- End of profiles section -->

        </div>
        <!-- End of container -->

    </header>

    <main>
        <div class="container">
            <div class="left">
                <a class="profile">
                    <div class="profile-pic">
                        <img src="./images/profile-8.jpg">
                    </div>
                    <div class="handle">
                        <h4>Chirag</h4>
                        <p class="text-muted">@chirag</p>
                    </div>
                </a>
                <div class="sidebar">
                    <a href="/" class="menu-item" >
                        <span><i class="uil uil-home"></i></span>
                        <h3>Home</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-compass"></i></span>
                        <h3>Explore</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><i class="uil uil-bell"><small class="notification-count">9+</small></i></span>
                        <h3>Notifications</h3>
                        <div class="notifications-popup">
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-10.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Abigail Willey</b> accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-11.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Varun Nair</b> commented on your post
                                    <small class="text-muted">1 HOUR AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-12.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Marry Opmong</b> and 210 other liked your post
                                    <small class="text-muted">4 MINUTES AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="./images/profile-13.jpg">
                                </div>
                                <div class="notification-body">
                                    <b>Wilson Fisk</b> started following you
                                    <small class="text-muted"> 11 HOURS AGO</small>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a class="menu-item" id="messages-notifications">
                        <i class="uil uil-envelope"><small class="notification-count">6</small></i></span>
                        <h3>Messages</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-bookmark"></i></span>
                        <h3>Bookmarks</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-analytics"></i></span>
                        <h3>Analytics</h3>
                    </a >
                    <a href="/profile" class="menu-item active ">
                        <span><i class="uil uil-palette"></i></span>
                        <h3>profiles</h3>
                    </a>
                    <a class="menu-item ">
                        <span><i class="uil uil-setting"></i></span>
                        <h3>Settings</h3>
                    </a>

                    <a href="/createpost" class="btn btn-primary" for="create-post">Create Post</a>
                </div>
            </div>
            <div class="containers">
                <div class="profiles">

                    <div class="profiles-image">

                        <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces"
                            alt="">

                    </div>

                    <div class="profiles-user-settings">

                        <h1 class="profiles-user-name">janedoe_</h1>

                        <button class="btns profiles-edit-btn">Edit profiles</button>

                        <button class="btns profiles-settings-btn" aria-label="profiles settings"><i class="fas fa-cog"
                                aria-hidden="true"></i></button>

                    </div>

                    <div class="profiles-stats">

                        <ul>
                            <li><span class="profiles-stat-count">164</span> posts</li>
                            <li><span class="profiles-stat-count">188</span> followers</li>
                            <li><span class="profiles-stat-count">206</span> following</li>
                        </ul>

                    </div>

                    <div class="profiles-bio">

                        <p><span class="profiles-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit 📷✈️🏕️</p>

                    </div>

                </div>
                <ul class="tabs">
                    <li data-tab-target="#home" class="active tab">post</li>
                    <li data-tab-target="#pricing" class="tab">like</li>
                    <li data-tab-target="#about" class="tab">saved</li>
                </ul>
                <div class="tab-content">
                    <div id="home" data-tab-content class="active">
                        <div class="gallery">

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 56</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 2</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1497445462247-4330a224fdb1?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 89</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 5</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-type">

                                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone"
                                        aria-hidden="true"></i>

                                </div>

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 42</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 1</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1502630859934-b3b41d18206c?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-type">

                                    <span class="visually-hidden">Video</span><i class="fas fa-video"
                                        aria-hidden="true"></i>

                                </div>

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 38</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 0</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1498471731312-b6d2b8280c61?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-type">

                                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone"
                                        aria-hidden="true"></i>

                                </div>

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 47</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 1</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1515023115689-589c33041d3c?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 94</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 3</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1504214208698-ea1916a2195a?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-type">

                                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone"
                                        aria-hidden="true"></i>

                                </div>

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 52</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 4</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1515814472071-4d632dbc5d4a?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 66</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 2</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1511407397940-d57f68e81203?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-type">

                                    <span class="visually-hidden">Gallery</span><i class="fas fa-clone"
                                        aria-hidden="true"></i>

                                </div>

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 45</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 0</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1518481612222-68bbe828ecd1?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 34</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 1</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1505058707965-09a4469a87e4?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 41</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 0</li>
                                    </ul>

                                </div>

                            </div>

                            <div class="gallery-item" tabindex="0">

                                <img src="https://images.unsplash.com/photo-1423012373122-fff0a5d28cc9?w=500&h=500&fit=crop"
                                    class="gallery-image" alt="">

                                <div class="gallery-item-type">

                                    <span class="visually-hidden">Video</span><i class="fas fa-video"
                                        aria-hidden="true"></i>

                                </div>

                                <div class="gallery-item-info">

                                    <ul>
                                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i
                                                class="fas fa-heart" aria-hidden="true"></i> 30</li>
                                        <li class="gallery-item-comments"><span
                                                class="visually-hidden">Comments:</span><i class="fas fa-comment"
                                                aria-hidden="true"></i> 2</li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                    </div>
                    <div id="pricing" data-tab-content>
                        <h1>Pricing</h1>
                        <p>Some information on pricing</p>
                    </div>
                    <div id="about" data-tab-content>
                        <h1>About</h1>
                        <p>Let me tell you about me</p>
                    </div>
                </div>

                <!-- End of gallery -->

                <div class="loader"></div>

            </div>
        </div>


        <!-- End of container -->

    </main>
    <script>
        const tabs = document.querySelectorAll('[data-tab-target]')
        const tabContents = document.querySelectorAll('[data-tab-content]')

        tabs.forEach(tab => {
            tab.addEventListener('click', () => {
                const target = document.querySelector(tab.dataset.tabTarget)
                tabContents.forEach(tabContent => {
                    tabContent.classList.remove('active')
                })
                tabs.forEach(tab => {
                    tab.classList.remove('active')
                })
                tab.classList.add('active')
                target.classList.add('active')
            })
        })
    </script>
</body>

</html>